*{
	width: auto;
	height: auto;
	padding: auto;
}

.header{
	text-align: center;
	padding: 10px 0px;
	background-color: black;
}

.header h1{
	color: white;
}

.Side-bar{
	float: left;
	background-color: grey;
	display:inline-grid;
	width: auto;
	height: auto;
	padding: 60px 40px;
	text-align: left;
}

.Side-bar a{
	font-size: 30px;
	text-decoration: none;
	color: whitesmoke;
	padding: 6px 4px;
	margin: 20% 0%;

}
.Side-bar a:hover{
	background-color: black;
	color: white;
	transform: scale3d(1.1, 1.1, 1.2);
	border-radius: 8px;
	transition: ease 0.4s;
	font: fantasy;
}

